<mat-card class="card_content" >
    <mat-card-content >
        <mat-card-title>ADD NEW DOCUMENT</mat-card-title> <h3 [ngClass]="[h3_success_message]" *ngIf="show_success_message" >{{success_message}}</h3>
           
                <mat-form-field class="formfield">
                    <mat-label class="select_label">SELECT DOCUMENT PRIVACY TYPE</mat-label>
                    <mat-select class="" [formControl]="privacytype"   (selectionChange)="fun_Privte_Selected($event.value)" required>
                      <mat-option  class="selectoption" >--</mat-option>
                      <mat-option  class="selectoption" value="common">COMMON  </mat-option>
                      <mat-option  class="selectoption" value="private">PRIVATE  </mat-option>
                      <mat-option  class="selectoption" value="officeuse">COMPANY OFFICE USE   </mat-option>
                    
                    </mat-select>
                    <mat-error *ngIf="privacytype.hasError('required')">Please choose Type</mat-error>
                  </mat-form-field>
                  <br><br>
                  <mat-form-field class="formfield">
                        <mat-label class="select_label" >SELECT DOCUMENT TYPE</mat-label>
                        <mat-select   [formControl]="documenttype"  (selectionChange)="fun_Doc_type_Selected($event.value)" required>
                          <mat-option>---</mat-option>
                          <mat-option class="selectoption" *ngFor="let doctype of documentType" value={{doctype.Document_Type_Name}}>{{doctype.Document_Type_Name}}</mat-option>
                          
                          
                        </mat-select>
                        <mat-error *ngIf="documenttype.hasError('required')">Please choose Type</mat-error>
                      </mat-form-field>
                    <br><br>
                      <mat-form-field  *ngIf="show_emp_dropdown" class="formfield">
                            <mat-label class="select_label" >SELECT EMPLYEE NAME</mat-label>
                            <mat-select    [formControl]="employeename" (selectionChange)="fun_Emp_Selected($event.value)" required>
                              <mat-option>---</mat-option>
                              <mat-option class="selectoption" *ngFor="let employee of AllEmployee" value={{employee.Emp_Comp_Id}}>{{employee.Emp_First_Name}} {{ employee.Emp_Last_Name}}</mat-option>
                              
                            </mat-select>
                            <mat-error *ngIf="employeename.hasError('required')">Please Choose Name</mat-error>
                          </mat-form-field>

                    <br><br>

                    <input #myInput class="file_input" type='file' (change)="onSelectFile($event)"  accept= "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*" multiple>

                    <br>
                    <br>

                    <mat-card  *ngIf="filename.length>0" class="card_file_name_list">
                        <mat-card-content>
                            <mat-label class="h4_tag">LIST OF SELECTED DOCUMENTS</mat-label>
                             <mat-list >
                                <h3 mat-subheader class="h4_tag" >Files</h3>
                                <p mat-line>
                                <mat-list-item *ngFor="let file of filename;index as i">
                                  <mat-icon class="file_icon" mat-list-icon>file_copy</mat-icon>
                                  <h4  class="h4_tag">{{file}}</h4> &nbsp;<mat-icon mat-list-icon class="icon_delete " (click)="removeFile(i)" >cancel</mat-icon>
                                  <mat-divider></mat-divider>
                                </mat-list-item>
                                </p>
                                </mat-list>
                        </mat-card-content>
                    </mat-card>

                    <br>

                    <br>

                    <button  mat-raised-button class="btn_Upload_new_Doc" (click)="Upload_New_Document()">UPLOAD<mat-icon class="upload_icon">arrow_upward</mat-icon></button>
                    <button  mat-raised-button class="btn_Back" (click)="Back()">BACK</button>
            
        </mat-card-content>
  </mat-card>


     <!-- <p mat-line> {{folder.updated | date}} </p>
                                  <round-progress
                                  current=10
                                  max=10
                                  [color]="'green'"
                                  [background]="'blue'"
                                  [radius]="20"
                                  [stroke]="3"
                                  [semicircle]="false"
                                  [rounded]="true"
                                  [clockwise]="false"
                                  [responsive]="false"
                                  [duration]="1000"
                                  [animation]="'easeInOutQuart'"
                                  [animationDelay]="0"
                                 ></round-progress>&nbsp;
  
                                  -->