.mat-card-avatar{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  }
  
  .graph_card{
  width: 500px;
  }
  .graph_card_content{
  width: 100%;
  }
  .example-container {
  position: absolute;
  top: 50px;
  bottom: 60px;
  left: 0;
  right: 0;
  height:920px ;
  // background-color: rgb(223, 226, 225);
  background-color: rgb(193, 194, 194);
  flex: 1;
  
  }
  
  .example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
 
  padding-top: 0px;
  background: rgba(255, 0, 0, 0.5);
  }
  
  .example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  }
  
  .example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  }
  
  .mat-sidenav{
  background-color: #1b262c;
  width: 290px;
  height:auto ;
  
  }
  
  .all_main{
  width: 100%;
  height: 100%;
  
  }
  
  .example-icon {
  padding: 0 14px;
  }
  
  .example-spacer {
  flex: 1 1 auto;
  }
  
  .example-spacer {
  flex: 1 1 auto;
  }
  
  .nav_avtar{
  font-size: 40px;
  margin-right: 20px;
  // margin-bottom: 20px;
  //margin-top: 0px;
  }
  
  :host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  margin: 8px 0;
  }
  
  p {
  margin: 0;
  }
  
  .start {
  flex:10;
  margin: 200px;
  font-size: xx-large;;
  }
  
  .toolbar {
  height: 60px;
  // margin: -8px;
  display: flex;
  align-items: center;
  background-color:#1b262c;
  color: white;
  font-weight: 600;
  }
  
  .toolbar img {
  margin: 0 16px;
  }
  
  
  .toolbar #twitter-logo:hover {
  opacity: 0.8;
  }
  
  .content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px auto 60px ;
  padding: 0 16px;
  max-width: width auto;
  flex-direction: column;
  }
  
  svg.material-icons {
  height: 24px;
  width: auto;
  }
  
  svg.material-icons:not(:last-child) {
  margin-right: 8px;
  }
  
  .card svg.material-icons path {
  fill: #888;
  }
  
  .card-container {
  display:flex;
  flex-wrap:wrap;
  // grid-template-columns: repeat(3, 1fr);
  
  // grid-gap: 1rem;
  
  margin-left: 0;
  margin-top: 10px;
  padding-top:10px ;
  }
  
  .card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 100px;
  width: 250px;
  margin: 10px ;
  padding: 30px 30px 30px 30px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  }
  
  .card-container .card:not(:last-child) {
  margin-right: 60px;
  
  }
  
  
  .card-container .card:not(.highlight-card) {
  cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  
  }
  
  .card.card.highlight-card span {
  margin-left: 0px;
  }
  
  a,
  a:visited,
  a:hover {
  color: #1976d2;
  text-decoration: none;
  }
  
  a:hover {
  color: #125699;
  }
  
  .circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
  }
  
  .circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  }
  
  footer a {
  display: flex;
  align-items: center;
  }
  
  .github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }
  
  .github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
  }
  
  .nav_item_AllDoc2{
  background-color:#3282b8;
  color: white;
  }
  .nav_item_AllDoc1{
  background-color: #0f4c75;
  color: white;
  }
  
  .nav_item_privateDoc2{
  background-color:#3282b8;
  color: white;
  }
  .nav_item_privateDoc1{
  background-color:#0f4c75;
  color: white;
  }
  
  
  .nav_item_Req2{
  background-color:#3282b8;
  color: white;
  }
  .nav_item_Req1{
  background-color: #0f4c75;
  color: white;
  }
  
  
  .mat-list:hover{
  
  cursor: pointer;
  
  }
  .side_nav_item{
  color:white;
  
  
  }
  
  .new_icon{
  color:rgb(23, 133, 9);
  font-size: 30px;
  }
  .schedule_icon{
  color: green;
  }
  
  .mat-list-item:hover{
  background-color:#3282b8;
  }
  .nav_avtar:hover{
  color: green;
  cursor: pointer;
  }
  
  
  .arrow{
  color: white;
  font-size:30px;
  //margin-top: 0px;
  //padding: 0px;
  }
  
  @media screen and (max-width: 767px) {
  
  .card-container > *:not(.circle-link) ,
  .terminal {
  width: 100%;
  }
  
  .card:not(.highlight-card) {
  height: 16px;
  margin: 10px;
  }
  
  .card.highlight-card span {
  margin-left: 0px;
  }
  
  
  }
  
  @media screen and (max-width: 575px) {
  svg#rocket-smoke {
  display: none;
  visibility: hidden;
  }
  }
  .sidenavbtn{
  height: 30px;
  width: 0px;
  padding: 0px;
  font-size: 30px;
  margin-left:0px ;
  border-radius: 50px;
  color: orange;
  }
  .sidenavbtn:hover{
  cursor: pointer;
  }
  button{
  margin: 10px;
  align-items: center;
  text-align: center;
  //color: rgb(82, 80, 80);
  width: 200px;
  }
  button:hover{
  
  background-color: rgb(24, 22, 22);
  cursor: pointer;
  
  }
  
  .btnprofile
  {
  margin: 10px;
  align-items: center;
  // color: rgb(78, 76, 76);
  text-align: center;
  width: 90%;
  color: white;
  background-color: rgb(107, 104, 104);
  // color: rgb(14, 13, 13);
  }
  
  .btnprofile:hover{
  width: 90%;
  background-color: rgb(41, 39, 39);
  // color: rgb(150, 112, 112);
  cursor: pointer;
  }
  
  
  .admininfocard{
  
  background-color:#3282b8;
  margin: 0px;
  //padding: 0px;
  
  
  }
  mat-icon{
  // font-size:30px;
  //cursor: pointer;
  color:white;
  }
  
  .mat_divider{
  background-color: white;
  height: 0.25px;
  }
  .btn{
  margin-bottom:35px;
  width: 100px;
  }
  
  .logo
  {
  color:orange;
  }
  .menu{
  background-color: rgba(190, 197, 199, 0.733);
  }
  .icon_Admin_info{
  color: blue;
  }

  .Employee_name{
    color: white;  
    font-family: cursive;
    font-size: small;
    }
  
    .icon_img:hover
    {
      cursor: pointer;
    }
  
  