<button mat-button class="btn_Upload_new_Doc" (click)="AddNewDoc()">Upload New Document <mat-icon>library_add</mat-icon></button>

<div class="card_container">
      
    
          <a  *ngFor="let document of documentType" class="card example-ripple-container mat-elevation-z4"  matRipple
          [matRippleCentered]="centered"
          [matRippleDisabled]="disabled"
          [matRippleUnbounded]="unbounded"
          [matRippleRadius]="radius"
          [matRippleColor]="color"   (click)="funPerticularDocuments(document.Document_Type_Name)">
                <span class="doctype">{{document.Document_Type_Name}}</span>
              </a>
</div>



<h1 class="h1_class"> Private Documents:</h1>

<form [formGroup]="PrivateDocForm">

<mat-form-field class="Select_form_field">

    <mat-label>Select Employee </mat-label>
    
    <mat-select  formControlName="Employee_Name" (selectionChange)="fun_PrivateDocs($event.value)" >
    
    <mat-option>None</mat-option>
    
    <mat-option class="selectoption" *ngFor="let Employee of EmplyeeList" value="{{Employee.Emp_Comp_Id}}"> {{Employee.Emp_First_Name}} {{Employee.Emp_Last_Name}} </mat-option>
    
    </mat-select>
   
  </mat-form-field >

</form>


<mat-list>
    <mat-list-item  class="list" *ngFor="let document of Privatedocuments let i = index">
     
    <p mat-line class="p" >{{i+1}}  &nbsp;{{document.document_Name}}   
     <mat-icon mat-list-icon class="Action_icon_Delete" (click)="Delete_Document(document.document_Id,document.document_Name)">delete</mat-icon>
     <mat-icon  mat-list-icon class="Action_icon_Download"(click)="Download_File(document.document_Name,document.document_Data)">archive</mat-icon>
     </p> 
 
</mat-list-item>
</mat-list>



<!-- <div class="card_container">

    <mat-card  *ngFor="let document of Privatedocuments" class="Document_card">
       

        <mat-card-content>
            <mat-icon class="file_icon">file_copy</mat-icon>
        </mat-card-content>

        <mat-card class="file_name_card">
           {{document.document_Name}}
        </mat-card>
        {{document.Document_Id}}
        <mat-card-actions class="action">
         <mat-icon class="Action_icon" (click)="Download_File(document.document_Name,document.document_Data)">archive</mat-icon>
         <mat-icon class="Action_icon" (click)="ShowFile(document.Document_Name,document.Document_Data)">remove_red_eye</mat-icon> 
         <mat-icon class="Action_icon_Delete" (click)="Delete_Document(document.document_Id,document.document_Name)">delete</mat-icon>
        </mat-card-actions>

      </mat-card>
      
    </div> -->
