
<mat-card class="card_View_Req_Details">
    <mat-card-header>
      <mat-card-title class="tittle">REQUEST DETAILS</mat-card-title>
      <mat-card-subtitle>FROM</mat-card-subtitle>
    </mat-card-header>
    <span>{{EmpFirstname}} {{Emplastname}}</span><br>
    <br>
    <br>
    <span> QUERY DOCUMENT:</span>&nbsp;&nbsp;&nbsp;<span class="docname">{{DocumentName}}</span>
   <br>
   <br>
    <mat-card-content>
      <p class="paragragh_message">
       
            {{RequestMessege}}
          
      </p>
    </mat-card-content>
    
<span [ngClass]="[success_message_class]" *ngIf="show_Schedule_Done_msg">{{success_message}}</span>

     <mat-card *ngIf="showAddScheduleCard" class="card_content" >
        <form  [formGroup]="Requestdetails">
               <mat-card-content >
                  <mat-card-title class="tittle2">CREATE MEETING SCHEDULE</mat-card-title> <h3 [ngClass]="[h3_success_message]" *ngIf="show_success_message" >{{success_message}}</h3>
               
                       
               
                          <mat-form-field>
                            <input type="date" matInput placeholder="Register_date" formControlName="Date" >
                          </mat-form-field>
                          
                            <br><br>
                            <mat-form-field >
                              <input matInput type="time" placeholder="Time" formControlName="Time">
                            </mat-form-field>
      
                              <br>
                              <br>
                              <br>
                            <mat-select class="select_meeting_room" placeholder="MEETING ROOM" (selectionChange)="funSelectMeetingRoom($event.value)">
                                      <mat-option class="mat_option" value="Havelock Island" >Havelock Island</mat-option>
                                      <mat-option   class="mat_option" value="Neil Island">Neil Island</mat-option>
                                      <mat-option   class="mat_option" value="MEETING ROOM-1">MEETING ROOM-1</mat-option>
                              </mat-select>
                              <br>
                              <br>
                              <br>
                              <button mat-raised-button class="btn_Done" (click)="funAddSchedule()">DONE</button>
    
                </mat-card-content>
              </form>
          </mat-card>
    <mat-card-actions>
      <button mat-raised-button  (click)="funScheduleMeeting()" >SCHEDULE MEETING</button>
      <button mat-raised-button [mat-dialog-close]="" >CANCEL</button>
    </mat-card-actions>
  </mat-card>
