<h1  class="docTypeHeading" >{{doctype}}</h1>
<!-- <mat-list class="list" *ngFor="let document of documentType let i = index" role="list">
<mat-list-item role="listitem">
<mat-card class="card_inside_list">
<span class="Sr_No">{{i+1}}</span> &nbsp; <span class="Document_Name">{{document.Document_Name}}</span>
<mat-icon class="Action_icon_Download" (click)="Download_File(document.Document_Name,document.Document_Data)">archive</mat-icon>
</mat-card>
</mat-list-item>
</mat-list> -->



<mat-list >
    <mat-list-item  class="list" *ngFor="let document of documentType let i = index">
     
    <p mat-line class="p" >{{i+1}}  &nbsp;{{document.Document_Name}}   
     <mat-icon matTooltip="Download Document" matTooltipPosition="left"  mat-list-icon class="Action_icon_Download" (click)="Download_File(document.Document_Name,document.Document_Data)">archive</mat-icon>
     </p> 
 
</mat-list-item>
</mat-list>
<button mat-button class="btn_Back" (click)="Back()">BACK</button>