.card_container {
    display:flex;
    flex-wrap:wrap;
    margin-left: 0;
    margin-top: 30px;
   // margin-left: 10%;
   //padding: 15px;
    
    }
    
    .card {
    border-radius: 4px;
    border: 1px solid #0f4c75;
    background-color: #0f4c75;
    height: 50px;
    width: 240px;
    margin: 30px ;
    padding: 30px 30px 30px 30px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .card:hover{
    background-color: #3282b8;
    cursor: pointer;
    }
    
    .doctype{
    color: white;
    }
    
    @media screen and (max-width: 767px) {
    
    .card-container > *:not(.circle-link) ,
    .terminal {
    width: 100%;
    }
    
    .card:not(.highlight-card) {
    height: 16px;
    margin: 10px;
    }
    
    .card.highlight-card span {
    margin-left: 0px;
    }
    
    
    }
    
    @media screen and (max-width: 575px) {
    svg#rocket-smoke {
    display: none;
    visibility: hidden;
    }
    }