





<mat-card class="viewprofileCard">
    <mat-card-header>
      <mat-card-title>{{UserName}}</mat-card-title>
      <mat-card-subtitle>{{UserEmail}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    <button  class="profile_btn" (click)="fileInput.click()"  >
    <input #fileInput type="file" (change)="onSelectFile($event)" style="display:none;border-color: none;"  accept="image/*"/>
    <img  [src]="imagePath" class="upfile1" style="cursor:pointer" />
    </button>
    <br>
    
    </mat-card-content>
    <mat-card-actions >
        <button mat-button class="btn_upload" [mat-dialog-close] (click)="Upload_New_Profile()">UPLOAD</button>
        <button mat-button class="btn_upload" [mat-dialog-close]>BACK</button>
    </mat-card-actions>
  </mat-card>
  