@media screen and (max-width: 400px) {

  .example-card {
  width:auto;
  height:auto;
  text-align: center;
  border:0.5px solid lightgray;
  border-radius: 4PX;
  margin: 50px 30px;
  }
  .example-container > * {
  width: 100%;
  }
  .heading{
  margin-left: 40px;
  }
  
  }
  
  @media screen and (min-width: 900px)
  {
  .example-card {
  width: 350px;
  height: 270px;
  text-align: center;
  margin:250px 500px;
  border:0.5px solid lightgray;
  border-radius: 4PX;
  }
  
  .example-container > * {
  width: 100%;
  
  }
  .heading{
  margin-left: 100px;
  }
  h4{
  color: rgb(102, 95, 190);
  text-align: center;
  
  }
  }