
<mat-card class="example-card">
  <h4>Document Management Application</h4>
  <mat-card-header>
  
  <mat-card-title class="heading">Login </mat-card-title>
  <mat-card-subtitle style="color: red;" *ngIf="showLoginMessage">please enter correct username and password</mat-card-subtitle>
  
  </mat-card-header>
  <mat-card-content>
  
  <form [formGroup]="LoginForm">
  <div class="example-container">
  <mat-form-field >
  <input matInput type="email" placeholder="UserName/Email" formControlName="UserName" >
  </mat-form-field>
  <mat-form-field >
  <input matInput type="password" placeholder="password" formControlName="password" >
  </mat-form-field>
  </div>
  </form>
  
  </mat-card-content>
  <mat-card-actions>
  <button mat-raised-button color="primary" (click)="Login()" >Submit</button>
  <button mat-raised-button color="primary" (click)="Clear()">Cancel</button>
  </mat-card-actions>
  </mat-card>
  