<div class="example-container mat-elevation-z8">

<mat-card class="card">
    <mat-card-content>
        <mat-card-title class="tittle">REQUESTS FROM EMPLOYEE</mat-card-title>
        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
              <div class="scrollit">
              <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile"  matSort >

                <ng-container matColumnDef="new">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
                    <span class="mobile-label"></span>
                    <mat-icon class="newicon">fiber_new</mat-icon>
                  </mat-cell>
                </ng-container>
  
              <ng-container matColumnDef="Emp_Id">
                <mat-header-cell *matHeaderCellDef> EMPLOYEE ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span class="mobile-label">EMPLOYEE ID:</span>
                  {{row.Emp_Comp_Id}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Emp_Name">
                <mat-header-cell *matHeaderCellDef> EMPLOYEE NAME </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span class="mobile-label">EMPLOYEE NAME:</span>
                  {{row.Emp_First_Name}}  {{row.Emp_Last_Name}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Document">
                <mat-header-cell *matHeaderCellDef>  DOCUMENT  </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span class="mobile-label">DOCUMENT:</span>
                  {{row.Document_Name}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span class="mobile-label">DATE:</span>
                  {{row.Request_Date}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> ACTION </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span class="mobile-label">ACTION:</span>
                  <button mat-raised-button  (click)="funViewRequestDetails(row.Emp_First_Name,row.Emp_Last_Name,row.Document_Name,row.Request_Message,row.Emp_Comp_Id,row.Request_Id)" >View Details</button>
                </mat-cell>
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator class="pageinater" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>        
          </div>

        </mat-card-content>
  </mat-card>
</div>