<mat-toolbar class="toolbar">
              
     <mat-toolbar-row>
               
                <mat-icon class="sidenavbtn" (click)="sidenav.toggle();" >burger_menu</mat-icon>  
                <span class="Admin_name">{{AdminName}}</span>
              <span class="example-spacer"></span>

              <!-- <span>Document Management System</span> -->
            
              <a class="a_tag" aria-label="Admin User" [title]="AdminEmail">
                       
                <img class="icon_img" mat-card-avatar src="assets\account_circle.png" alt="Admin" [matMenuTriggerFor]="menu">
                                     <mat-menu class="mat_menu" #menu="matMenu">
                                                  <mat-card class="admininfocard">
                                                      <mat-card-content class="mat_menu_content" > 
                                                              <button class="btnprofile" (click)="funadminInfo()" mat-menu-item>
                                                                      <mat-icon class="icon_Admin_info">informations</mat-icon>
                                                                      <span>Admin Info</span>
                                                              </button>
                                                              <button class="btnprofile" (click)="logout()" mat-menu-item  >
                                                                      <mat-icon class="icon_Admin_info">settings_power</mat-icon>
                                                                      <span>Log Out</span>
                                                              </button>
                                                      </mat-card-content>
                                                </mat-card>
                                </mat-menu>
                            </a>
            </mat-toolbar-row>
   </mat-toolbar>

   <!--toobar start-->


    <div class="all_main">
            
       <mat-sidenav-container class="sidenav_container">

          <mat-sidenav #sidenav mode="side" opened="true">
                <mat-divider class="mat_divider"></mat-divider>
                       <mat-list>
                        
                              <mat-list-item  [ngClass]="[nav_item_AllDoc]" (click)="funAllDoc()" routerLink="/AllComponent/AllDocuments">
                                      <mat-icon >library_books</mat-icon> <span class="side_nav_item">ALL DOCUMENTS</span><mat-icon *ngIf="AllDocClick" class="arrow">arrow_right</mat-icon>
                                      <span fxFlex></span> 
                              </mat-list-item>
                        
                              <mat-divider  class="mat_divider"></mat-divider>
                             
                              <mat-list-item   [ngClass]="[nav_item_Emp]" (click)="funEmployee()" routerLink="AllEmployee">
                                      <mat-icon >people</mat-icon>  <span class="side_nav_item">ALL EMPLOYEES</span><mat-icon *ngIf="AllEmolyeeClick" class="arrow">arrow_right</mat-icon>
                                      <span fxFlex></span> 
                              </mat-list-item>
                              
                              
                              <mat-divider class="mat_divider"></mat-divider>
                              
                              <mat-list-item   [ngClass]="[nav_item_Req]" (click)="funAllRequests()" routerLink="AllRequests">
                                      <mat-icon >notifications</mat-icon> <span  [matBadge]="[NewRequestCount]"   matBadgeOverlap="false" matBadgeColor="warn" class="side_nav_item">ALL REQUESTS</span>&nbsp;&nbsp;<mat-icon *ngIf="AllRequestClick" class="arrow">arrow_right</mat-icon>
                                      <span fxFlex></span> 
                              </mat-list-item>
                             
                              <mat-divider class="mat_divider"></mat-divider>
                             
                              <mat-list-item   [ngClass]="[nav_item_Schedule]" (click)="funScheduledMetting()" routerLink="AllMeetingSchedules">
                            <mat-icon >today</mat-icon><span [matBadge]="[ScheduledMeetingCount]" matBadgeOverlap="false" matBadgeColor="warn" class="side_nav_item">SCHEDULED MEETINGS</span>&nbsp;&nbsp;&nbsp;<mat-icon  *ngIf="ScheduledMeetingClick" class="arrow">arrow_right</mat-icon>
                                      <span fxFlex></span> 
                              </mat-list-item>
                            
                              <mat-divider class="mat_divider"></mat-divider>

                    </mat-list>

          </mat-sidenav>
        
          <mat-sidenav-content >
            
           <router-outlet></router-outlet>
         
          </mat-sidenav-content>
      </mat-sidenav-container>
 </div>       

