

    <h1 class="docTypeHeading" >Private Documents</h1>
    <mat-list >
     <mat-list-item  class="list" *ngFor="let document of Allprivatedocuments let i = index">
      
     <p mat-line class="p" >{{i+1}}  &nbsp;   {{document.document_Name}} 
         <mat-icon matTooltip="Download Document" matTooltipPosition="left" class="Action_icon_Download"(click)="Download_File(document.document_Name,document.document_Data)">archive</mat-icon>
      </p> 
  
 </mat-list-item>
 </mat-list>










<!-- <div class="card_container">

    <mat-card  *ngFor="let document of Allprivatedocuments" class="example_card">
       

        <mat-card-content>
            <mat-icon class="file_icon">file_copy</mat-icon>
        </mat-card-content>

        <mat-card class="file_name_card">
            {{document.document_Name}}
        </mat-card>

        <mat-card-actions class="action">
         <mat-icon class="Action_icon"(click)="download(document.document_Name,document.document_Data)">archive</mat-icon>
        </mat-card-actions>

      </mat-card>

    </div> -->


