
<mat-card class="card">
    <mat-card-content>
        <mat-card-title class="tittle">SCHEDULED MEETINGS</mat-card-title>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> 
        </mat-form-field>
              <div class="scrollit">
                
                <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile"  matSort >

                  <ng-container matColumnDef="new">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                      <span class="mobile-label"></span>
                      <mat-icon  *ngIf="compareDates(row.Meeting_Date)"  [ngClass]="[new_icon_blink]" >{{icon}}</mat-icon>
                    </mat-cell>
                  </ng-container>
            

                  <ng-container matColumnDef="Emp_Name">
                      <mat-header-cell *matHeaderCellDef>EMPLOYEE NAME</mat-header-cell>
                      <mat-cell *matCellDef="let row"> 
                        <span class="mobile-label">EMPLOYEE NAME:</span>
                        {{row.Emp_First_Name}} {{row.Emp_Last_Name}} 
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Document">
                        <mat-header-cell *matHeaderCellDef>QUERY DOCUMENT</mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                          <span class="mobile-label">QUERY DOCUMENT:</span>
                          {{row.Document_Name}} 
                        </mat-cell>
                      </ng-container>


                      <ng-container matColumnDef="Date">
                          <mat-header-cell *matHeaderCellDef>DATE</mat-header-cell>
                          <mat-cell *matCellDef="let row"> 
                            <span class="mobile-label">DATE:</span>
                            {{row.Meeting_Date}}
                          </mat-cell>
                        </ng-container>
  
                        
                      <ng-container matColumnDef="Time">
                          <mat-header-cell *matHeaderCellDef>TIME</mat-header-cell>
                          <mat-cell *matCellDef="let row"> 
                            <span class="mobile-label">TIME:</span>
                            {{row.Meeting_Time}}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Meeting_Room">
                            <mat-header-cell *matHeaderCellDef> MEETING ROOM</mat-header-cell>
                            <mat-cell *matCellDef="let row"> 
                              <span class="mobile-label"> MEETING ROOM:</span>
                              {{row.Meeting_Room}}
                            </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef>ACTION</mat-header-cell>
                              <mat-cell *matCellDef="let row"> 
                                <span class="mobile-label">ACTION:</span>
                                <button mat-raised-button class="btn_ViewDetails" (click)="funViewScheduleDetails(row.Meeting_Id)" >Meeting Done?</button>
                              </mat-cell>
                            </ng-container>
                  
                 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                 <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               </mat-table>
               <mat-paginator class="pageinater" [pageSizeOptions]="[10, 25, 100]"></mat-paginator> 
           
               </div>

        </mat-card-content>
  </mat-card>
